*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
}

header, footer {
    height: 10%;
}

footer {
    height: 5%;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header button {
    background-color: rgb(229, 188, 8);
    border-radius: 5px;
    padding: 3px 5px;
    font-size: 1.5rem;
    cursor: pointer;
}

header img {
    max-height: 50px;
}

main {
    background-color: aquamarine;
    height: 85%;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 40px;
}

footer .container {
    padding: 10px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 60%;
    margin: 0 auto;
    gap: 20px;
}

.griglia {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    flex-wrap: wrap;
    border: 2px solid black;
}

.cella {
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: calc(100% / 10);
    cursor: pointer;
    font-weight: bold;
    font-size: 0px;
    
}

.light-blue {
    /* background-color: rgb(34, 101, 132); */
    color: transparent;
    background-image: url(https://e7.pngegg.com/pngimages/459/636/png-clipart-flower-black-and-white-common-daisy-coloring-book-free-svg-graphics-white-leaf-thumbnail.png);
    background-position: center;
    background-size: contain;
}

.red {
    background-color: red;
    color: white;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFlh4_oamKwu2I-8qYIKLroGkZ27rSSBbzYg&usqp=CAU);
    /* text-transform: unset; */
    color: transparent;
    font-size: 0px;
}