*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
    height: 95vh;
    flex-direction: column;
    gap: 10px;
}

.griglia {
    display: flex;
    width: 90vh;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    height: 90vh;
    background-color: rgb(175, 112, 165);
    flex-wrap: wrap;
    border: 1px solid black;
}

.cella {
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(175, 112, 165);
    border: 1px solid black;
    width: calc(100% / 10);
    cursor: pointer;
    font-weight: bold;
    
}

.light-blue {
    background-color: rgb(34, 101, 132);
    color: white;
}

.red {
    background-color: red;
    color: white;
}