*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {

}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header button {
    background-color: yellow;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1.5rem;
    cursor: pointer;
}

header img {
    max-height: 80px;
}

main {
    background-color: aquamarine;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 50px;
}

footer .container {
    padding: 30px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    gap: 40px;
}

.griglia {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    flex-wrap: wrap;
    border: 2px solid black;
}

.cella {
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: calc(100% / 10);
    cursor: pointer;
    font-weight: bold;
    
}

.light-blue {
    background-color: rgb(34, 101, 132);
    color: white;
}

.red {
    background-color: red;
    color: white;
}